<h1> Users </h1>

<ul>
	<% @users.each do |u| %>
		<li> <%= link_to u.name, u %> --- <%= u.email %> 	
			<ul>
				<% if u.tasks.empty? %>
					<li> no tasks currently </li>
				<% else %>
					<% u.tasks.each do |t| %>
						<li> <%= t.title %></li>
					<% end %>
				<% end %> 
			</ul>

		</li>
	<% end %>

</ul>

<%= link_to 'Add new user', new_user_path %> <br />
